[run]
branch = True
source =
    apps
    config
omit =
    */migrations/*
    */tests/*
    config/settings/*
    config/asgi.py
    config/wsgi.py

[report]
show_missing = True
skip_covered = True
exclude_also =
    if TYPE_CHECKING:
    raise NotImplementedError
